.home {
    display: grid;
    grid-gap: 1em;
    place-content: center;
    grid-template: 20em repeat(2, 15em) / 1fr 1fr;
    margin-top: 0;
}
.mainDiv {
    grid-area: 1 / 1 / 2 / 3;
    position: relative;
    background-image: url( './assets/headerWallpaper.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 1em 1em .3em .3em;
}
.mainDivText {
    position: absolute;
    top: 30%;
    left: 5%;
    color: #16171d;
    font-size: 2.5em;
    font-weight: bold;
    text-align: left;
    text-shadow: -4px 7px 8px  #525257e1;
}
.textDiv {
    position: relative;
    display: flex;
    place-content: center;
    /* padding: .3rem; */
    left: 3em;
    top: 1.5rem;
    background-color: var( --accent-border);
    color: var( --text-darkBg );
    height: 80%;
    width: 80%;
    border-radius: 1rem;
    border-left: 7px solid var(--accent);
    font-weight: bold;
}
.textDiv p, .textDiv h1 {
    position: relative;
    top: 3.3rem;
}
.mottoDiv, .storesDiv {
    position: relative;
    display: flex;
    max-width: 100%;
    max-height: 100%;
    border-radius: 1rem;
}
.home div button {
    position: absolute;
    width: 8rem;
    height: 2rem;
    bottom: 3rem;
    right: 35%;
    padding: .5em 1.5em;
    background-color: var(--accent);
    color: var( --text-darkBg );
    border: none;
    border-radius: .6rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 200ms ease-out, background-color 200ms ease-out;
}
.home div button:hover {
    background-color: var(--accent-border);
    transform: translateY( -3px );
}
.home div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

/* phones styles */
@media ( max-width: 600px ) {
    .home {
        grid-template: 10em repeat( 2, 7em ) / repeat( 2, 1fr );
    }
    .mainDivText {
        font-size: 1.5em;
    }
    .textDiv {
        left: 1em;
        top: .5em;
        font-size: .5em;
        /* font-weight: 500; */
        line-height: 1.5em;
    }
    .textDiv p, .textDiv h1 {
        top: 1rem;
        max-width: 90%;
    }
    .home div button {
        max-width: 4rem;
        max-height: 1.5rem;
        padding: .3rem;
        bottom: 2em;
        right: 30%;
    }
}